<html>
<head>
    <title>Go web</title>
</head>
<body>
{{/**
注释
*/}}

<p>Package info:</p>
<ul>
    <li>Package name:{{.Name}}</li>
    <li>Package NumFunc:{{.NumFunc}}</li>
    <li>Package NumVars: {{.NumVars}}</li>
</ul>

</body>


</html>